
@{
    ViewBag.Title = "JQueryLearning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rollover Images</title>
    <link href="../_css/site.css" rel="stylesheet">
    <style>
        #gallery img {
            display: inline-block;
            margin: 10px;
            border: 1px solid rgb(0,0,0);
        }
    </style>
    <script src="../_js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#gallery img').each(function () {
                var imgFile = $(this).attr('src');
                var preLoadImage = new Image();
                var imgExt = /(\.\w{3,4}$)/;
                preLoadImage.src = imgFile.replace(imgExt, '_h$1');

                $(this).hover(
                    function () {
                        $(this).attr('src', preLoadImage.src);
                    },
                    function () {
                        $(this).attr('src', imgFile);
                    }
                );
            });
        }); // end ready
    </script>
</head>
<body class="BoldTitle">
    <div class="wrapper">
        <header>
            JAVASCRIPT <span class="amp">&amp;</span> jQUERY: THE&nbsp;MISSING&nbsp;MANUAL
        </header>
        <div class="content">
            <div class="main">
                <h1>Rollover Images</h1>
                <p>Mouse over the images below</p>
                <div id="gallery">
                    <a href="../../Images/large/blue.jpg" width="270" height="270" target="_blank" >
                        <img src="../../Images/small/blue.jpg" width="70" height="70" alt="blue">
                    </a>
                    <a href="../../Images/large/green.jpg" width="270" height="270" target="_blank">
                        <img src="../../Images/small/green.jpg" width="70" height="70" alt="green">
                    </a>
                    <a href="../../Images/large/orange.jpg" width="270" height="270" target="_blank">
                        <img src="../../Images/small/orange.jpg" width="70" height="70" alt="orange">
                    </a>
                    <a href="../../Images/large/purple.jpg" width="270" height="270" target="_blank">
                        <img src="../../Images/small/purple.jpg" width="70" height="70" alt="purple">
                    </a>
                    <a href="../../Images/large/red.jpg" width="270" height="270" target="_blank">
                        <img src="../../Images/small/red.jpg" width="70" height="70" alt="red">
                    </a>
                    <a href="../../Images/large/yellow.jpg" width="270" height="270" target="_blank">
                        <img src="../../Images/small/yellow.jpg" width="70" height="70" alt="yellow">
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <p>JavaScript &amp; jQuery: The Missing Manual, 3rd Edition, by <a href="http://sawmac.com/">David McFarland</a>. Published by <a href="http://oreilly.com/">O'Reilly Media, Inc</a>.</p>
        </footer>
    </div>
</body>
</html>